<footer id="footer">
	<!-- Icons -->
		<ul class="actions">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		</ul>

	<!-- Menu -->
	<ul class="menu">
		{{> "menu-bottom" }}
	</ul>

</footer>